docs/* linguist-documentation=true

*.sp linguist-detectable=true
*.sp linguist-language=Shell

*.inc linguist-detectable=true
*.inc linguist-language=Shell

*.va linguist-detectable=true
*.va linguist-language=Verilog
